.container {
    width: 90%;
    height: 300px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
  }
  
  .box {
    width: 33.33%;
  }
  
  .box1 {
    background-color: silver;
  }
  
  .box2 {
    background-color: blue;
  }
  
  .box3 {
    background-color: purple;
  }